@model BeerShop.Areas.Admin.ViewModels.CreateBeerVM

@{
    ViewData["Title"] = "CreateBearIndex";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>CreateBearIndex</h1>

<h4>CreateBeerVM</h4>
<hr />
@if (Model != null)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateBearIndex">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Naam" class="control-label"></label>
                    <input asp-for="Naam" class="form-control" />
                    <span asp-validation-for="Naam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Brouwernr" class="control-label"></label>
                    @*<input asp-for="Brouwernr" class="form-control" />*@
                    <select class="form-control" asp-for="Brouwernr" asp-items="@Model.Brouwer">
                        <option value="">Select a Brewer</option>
                    </select>
                    <span asp-validation-for="Brouwernr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Soortnr" class="control-label"></label>
                    @*<input asp-for="Soortnr" class="form-control" />*@
                    <select class="form-control" asp-for="Soortnr" asp-items="@Model.Soort">
                        <option value="">Select a Variety</option>
                    </select>
                    <span asp-validation-for="Soortnr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Alcohol" class="control-label"></label>
                    <input asp-for="Alcohol" class="form-control" />
                    <span asp-validation-for="Alcohol" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

